NODE_ENV=development
PORT=5000

#MongoDB
MONGODB_URI=mongodb://localhost:27017/peoplehub

#JWT
JWT_SECRET=jwt_key_add_here
JWT_EXPIRE=7d

#CORS 
CORS_ORIGIN=http://localhost:9000

#Admin credentials
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=admin123